**4.8. Grouping Data and Aggregating Variables**

Content:
- #01 Importing libraries and data
- #02 Exercise instructions
- #03 Task 2 - Find the aggregated mean of the 'order_number' column
- #04 Task 3 - Analyse the results
- #05 Task 4 - Create a loyalty flag for existing customers
- #06 Task 5 - Check the basic statistics of product prices for each loyalty category
- #07 Task 6 - Create a spending flag for each user
- #08 Task 7 - Create an order frequency flag 
- #09 Task 9 . Export the dataframe as a pickle file

#01.Importing libraries and data

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#set path
path = r'C:\Users\EliteMini HX90\OneDrive\Documents\CareerFoundry\Instacart Project Analysis'

In [3]:
#import last update of merged dataset
ords_prods_merge = pd.read_pickle(os.path.join(path,'02_Data','02_Prepared_Data','orders_products_derived.pkl'))

#02.Exercise instructions

In [4]:
df=ords_prods_merge[:1000000]

In [5]:
#grouping data by product name
df.groupby('product_name')

The groupby() function should be used as part of a series of steps
1. split the data into groups
2. apply a function to each group
3. combine the results into a df (or other data structure or a new column)

In [6]:
#aggregating order number grouped by department ID
df.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [7]:
#alternative way of aggregating order number by department id
df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

In [8]:
#including multiple aggregations 
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

***

#03 **Task 2** - Find aggregated mean of order_number for whole dataset

***

In [9]:
#aggregated mean of order_number grouped by department_id
ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

***

#04 **Task 3** - Analyse the result

***

In [10]:
#importing departments dataset to act as data dictionary
df_deps = pd.read_csv(os.path.join(path,'02_Data','02_Prepared_Data','departments_wrangled.csv'),index_col=False)

In [11]:
#setting the index to start at 1 and not 0
df_deps.index = np.arange(1, len(df_deps)+1)

In [12]:
df_deps.head()

  department
1     frozen
2      other
3     bakery
4    produce
5    alcohol

In [13]:
#creating data dictionary
data_dict = df_deps.to_dict('index')
data_dict

{1: {'department': 'frozen'},
 2: {'department': 'other'},
 3: {'department': 'bakery'},
 4: {'department': 'produce'},
 5: {'department': 'alcohol'},
 6: {'department': 'international'},
 7: {'department': 'beverages'},
 8: {'department': 'pets'},
 9: {'department': 'dry goods pasta'},
 10: {'department': 'bulk'},
 11: {'department': 'personal care'},
 12: {'department': 'meat seafood'},
 13: {'department': 'pantry'},
 14: {'department': 'breakfast'},
 15: {'department': 'canned goods'},
 16: {'department': 'dairy eggs'},
 17: {'department': 'household'},
 18: {'department': 'babies'},
 19: {'department': 'snacks'},
 20: {'department': 'deli'},
 21: {'department': 'missing'}}

While for the subset the department with the lowest average amount of orders was "meat seafood", for the full dataset the same seems to be true for the "alcohol" department. In both cases the largest amount of orders come from the department ID associated with "missing", suggesting this category is a catchall for products with no specific department or not attributed to one.

We can also see a biger range between the highest and the lowest mean value on the subset version compared to the full dataset, which is in line with general expectations of these measures depending on dataset size.

***

#05 **Task 4** - Follow the instructions to create a loyalty flag for existing customers

***

In [14]:
#generating data on amount of orders by each customer
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
#first the new column max_order is created
#then the df is groubed by user_id
#then the transform() function is applied on the order_number column to find the max value

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_31692\2953244972.py:2: FutureWarning: The provided callable <function amax at 0x00000257301556C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
#check data
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest Days,Average orders,3

In [16]:
#creating loyalty flag that assigns a loyalty label to a user based on the max order value
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_31692\256436941.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Loyal customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
#print frequency of new column
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [18]:
#checking relevant columns
ords_prods_merge[['user_id','loyalty_flag','order_number','max_order']].head(60)

    user_id      loyalty_flag  order_number  max_order
0       138  Regular customer            28         32
1       138  Regular customer            30         32
2       709      New customer             2          5
3       764      New customer             1          3
4       764      New customer             3          3
5       777  Regular customer            16         26
6       825      New customer             3          9
7       910  Regular customer            12         12
8      1052  Regular customer            10         20
9      1052  Regular customer            15         20
10     1379      New customer             1         10
11     1480    Loyal customer            36         43
12     1480    Loyal customer            38         43
13     1480    Loyal customer            39         43
14     1494  Regular customer             6         13
15     1494  Regular customer             7         13
16     1494  Regular customer             9         13
17     1540  Regular customer             4         28
18     1540  Regular customer             5         28
19     1540  Regular customer             6         28
20     1540  Regular customer             7         28
21     1540  Regular customer             8         28
22     1540  Regular customer             9         28
23     1540  Regular customer            14         28
24     1540  Regular customer            15         28
25     1540  Regular customer            18         28
26     1540  Regular customer            19         28
27     1540  Regular customer            20         28
28     1540  Regular customer            21         28
29     1540  Regular customer            22         28
30     1540  Regular customer            24         28
31     1540  Regular customer            25         28
32     1540  Regular customer            27         28
33     1540  Regular customer            28         28
34     1598      New customer             1          4
35     1598      New customer             2          4
36     1598      New customer             3          4
37     1647      New customer             1         10
38     1647      New customer             4         10
39     1647      New customer             6         10
40     1647      New customer             8         10
41     1647      New customer             9         10
42     2833      New customer             1         10
43     2850  Regular customer             7         23
44     2857  Regular customer            24         25
45     3010  Regular customer             5         13
46     3029      New customer             1          5
47     3395      New customer             4          6
48     3904      New customer             1          3
49     4006    Loyal customer             2         42
50     4006    Loyal customer             3         42
51     4006    Loyal customer             5         42
52     4006    Loyal customer             9         42
53     4006    Loyal customer            12         42
54     4122  Regular customer            11         40
55     4141      New customer             2          9
56     4343      New customer             1          4
57     4553      New customer             3          4
58     4845  Regular customer             6         14
59     6866      New customer             1          6

***

#06 **Task 5** - Use the loyalty flag to check the basic statistics of the product prices

***

In [19]:
#aggregated stats of prices grouped by loyalty
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

There seems to be a difference in the prices of products purchased by each category of customer. A lower average price can be associated with loyal customers and the opposite with new customers.

***

#07 **Task 6** - Create a spending flag for each user based on the average price across their orders

***

In [20]:
#generating data on average price of all orders by each customer
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)
#first the new column avg_price is created
#then the df is groubed by user_id
#then the transform() function is applied on the order_number column to find the average value

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_31692\2519142024.py:2: FutureWarning: The provided callable <function mean at 0x00000257301563E0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [21]:
#check data
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Least busy,Slowest Days,Average orders,3,New customer,4.972414

In [22]:
#creating spending flag that assigns a label to a user based on the average price of orders 
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low Spender'
ords_prods_merge.loc[(ords_prods_merge['avg_price'] >= 10), 'spending_flag'] = 'High Spender'

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_31692\1407831322.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low Spender' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low Spender'

In [23]:
#print frequency of new column
ords_prods_merge['spending_flag'].value_counts(dropna=False)

spending_flag
Low Spender     31770614
High Spender      634245
Name: count, dtype: int64

In [24]:
#removing limit from max amount of rows displayed
pd.options.display.max_rows = None

In [25]:
#check relevant columns
ords_prods_merge[['user_id','prices','avg_price','spending_flag']].head(80)

    user_id  prices  avg_price spending_flag
0       138     5.8   6.935811   Low Spender
1       138     5.8   6.935811   Low Spender
2       709     5.8   7.930208   Low Spender
3       764     5.8   4.972414   Low Spender
4       764     5.8   4.972414   Low Spender
5       777     5.8   6.935398   Low Spender
6       825     5.8   5.957576   Low Spender
7       910     5.8   6.680000   Low Spender
8      1052     5.8   7.162500   Low Spender
9      1052     5.8   7.162500   Low Spender
10     1379     5.8   5.813636   Low Spender
11     1480     5.8   5.081633   Low Spender
12     1480     5.8   5.081633   Low Spender
13     1480     5.8   5.081633   Low Spender
14     1494     5.8   6.803797   Low Spender
15     1494     5.8   6.803797   Low Spender
16     1494     5.8   6.803797   Low Spender
17     1540     5.8   6.607122   Low Spender
18     1540     5.8   6.607122   Low Spender
19     1540     5.8   6.607122   Low Spender
20     1540     5.8   6.607122   Low Spender
21     1540     5.8   6.607122   Low Spender
22     1540     5.8   6.607122   Low Spender
23     1540     5.8   6.607122   Low Spender
24     1540     5.8   6.607122   Low Spender
25     1540     5.8   6.607122   Low Spender
26     1540     5.8   6.607122   Low Spender
27     1540     5.8   6.607122   Low Spender
28     1540     5.8   6.607122   Low Spender
29     1540     5.8   6.607122   Low Spender
30     1540     5.8   6.607122   Low Spender
31     1540     5.8   6.607122   Low Spender
32     1540     5.8   6.607122   Low Spender
33     1540     5.8   6.607122   Low Spender
34     1598     5.8   7.123529   Low Spender
35     1598     5.8   7.123529   Low Spender
36     1598     5.8   7.123529   Low Spender
37     1647     5.8   4.853521   Low Spender
38     1647     5.8   4.853521   Low Spender
39     1647     5.8   4.853521   Low Spender
40     1647     5.8   4.853521   Low Spender
41     1647     5.8   4.853521   Low Spender
42     2833     5.8   7.377143   Low Spender
43     2850     5.8   8.054153   Low Spender
44     2857     5.8   8.353793   Low Spender
45     3010     5.8   6.452800   Low Spender
46     3029     5.8   7.960606   Low Spender
47     3395     5.8   6.322222   Low Spender
48     3904     5.8   7.511111   Low Spender
49     4006     5.8   7.441100   Low Spender
50     4006     5.8   7.441100   Low Spender
51     4006     5.8   7.441100   Low Spender
52     4006     5.8   7.441100   Low Spender
53     4006     5.8   7.441100   Low Spender
54     4122     5.8   7.598765   Low Spender
55     4141     5.8   6.033333   Low Spender
56     4343     5.8   7.393939   Low Spender
57     4553     5.8   5.715789   Low Spender
58     4845     5.8   7.229630   Low Spender
59     6866     5.8   4.807143   Low Spender
60     7275     5.8   4.620833   Low Spender
61     7669     5.8   9.106757   Low Spender
62     7669     5.8   9.106757   Low Spender
63     7669     5.8   9.106757   Low Spender
64     7981     5.8   7.115714   Low Spender
65     7981     5.8   7.115714   Low Spender
66     7981     5.8   7.115714   Low Spender
67     7981     5.8   7.115714   Low Spender
68     7981     5.8   7.115714   Low Spender
69     8703     5.8   6.593459   Low Spender
70     8723     5.8   5.677397   Low Spender
71     8735     5.8   5.850000   Low Spender
72     9293     5.8  11.857143  High Spender
73     9293     5.8  11.857143  High Spender
74     9467     5.8   7.709091   Low Spender
75     9694     5.8   7.075354   Low Spender
76     9694     5.8   7.075354   Low Spender
77     9694     5.8   7.075354   Low Spender
78     9694     5.8   7.075354   Low Spender
79     9694     5.8   7.075354   Low Spender

***

#08 **Task 7** - Create an order frequency flag that marks the regularity of a user's orderering behaviour

***

In [26]:
#generating data on median amount of days since prior order by each customer
ords_prods_merge['median_days_since_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_31692\2687334628.py:2: FutureWarning: The provided callable <function median at 0x000002573028D440> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_since_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [27]:
#creating frequency flag that assigns a label to a user based on the median of the number of days since their last order
ords_prods_merge.loc[ords_prods_merge['median_days_since_order'] > 20, 'frequency_flag'] = 'Non-frequent Customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_order'] <= 20) & (ords_prods_merge['median_days_since_order'] > 10), 'frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_order'] <= 10, 'frequency_flag'] = 'Frequent Customer'

C:\Users\EliteMini HX90\AppData\Local\Temp\ipykernel_31692\763394134.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Non-frequent Customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['median_days_since_order'] > 20, 'frequency_flag'] = 'Non-frequent Customer'

In [28]:
#print frequency of new column
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent Customer        21559853
Regular customer          7208564
Non-frequent Customer     3636437
NaN                             5
Name: count, dtype: int64

In [29]:
#check relevant columns
ords_prods_merge[['user_id','days_since_prior_order','median_days_since_order','frequency_flag']].head(80)

,user_id,days_since_prior_order,median_days_since_order,frequency_flag
0,138,3.0,8.0,Frequent Customer
1,138,20.0,8.0,Frequent Customer
2,709,6.0,8.0,Frequent Customer
3,764,NaN,9.0,Frequent Customer
4,764,9.0,9.0,Frequent Customer
5,777,26.0,11.0,Regular customer
6,825,30.0,20.0,Regular customer
7,910,30.0,6.0,Frequent Customer
8,1052,19.0,10.0,Frequent Customer
9,1052,15.0,10.0,Frequent Customer
10,1379,NaN,20.0,Regular customer
11,1480,7.0,7.0,Frequent Customer
12,1480,7.0,7.0,Frequent Customer
13,1480,12.0,7.0,Frequent Customer
14,1494,2.0,7.0,Frequent Customer
15,1494,6.0,7.0,Frequent Customer
16,1494,10.0,7.0,Frequent Customer
17,1540,7.0,7.0,Frequent Customer
18,1540,6.0,7.0,Frequent Customer
19,1540,14.0,7.0,Frequent Customer
20,1540,8.0,7.0,Frequent Customer
21,1540,6.0,7.0,Frequent Customer
22,1540,28.0,7.0,Frequent Customer
23,1540,7.0,7.0,Frequent Customer
24,1540,7.0,7.0,Frequent Customer
25,1540,0.0,7.0,Frequent Customer
26,1540,7.0,7.0,Frequent Customer
27,1540,7.0,7.0,Frequent Customer
28,1540,7.0,7.0,Frequent Customer
29,1540,7.0,7.0,Frequent Customer
30,1540,3.0,7.0,Frequent Customer
31,1540,16.0,7.0,Frequent Customer
32,1540,5.0,7.0,Frequent Customer
33,1540,6.0,7.0,Frequent Customer
34,1598,NaN,2.0,Frequent Customer
35,1598,21.0,2.0,Frequent Customer
36,1598,2.0,2.0,Frequent Customer
37,1647,NaN,25.0,Non-frequent Customer
38,1647,18.0,25.0,Non-frequent Customer
39,1647,8.0,25.0,Non-frequent Customer
40,1647,30.0,25.0,Non-frequent Customer
41,1647,25.0,25.0,Non-frequent Customer
42,2833,NaN,13.0,Regular customer
43,2850,9.0,7.0,Frequent Customer
44,2857,10.0,11.0,Regular customer
45,3010,7.0,7.0,Frequent Customer
46,3029,NaN,28.0,Non-frequent Customer
47,3395,30.0,18.0,Regular customer
48,3904,NaN,21.0,Non-frequent Customer
49,4006,7.0,7.0,Frequent Customer
50,4006,7.0,7.0,Frequent Customer
51,4006,7.0,7.0,Frequent Customer
52,4006,5.0,7.0,Frequent Customer
53,4006,4.0,7.0,Frequent Customer
54,4122,8.0,7.0,Frequent Customer
55,4141,30.0,30.0,Non-frequent Customer
56,4343,NaN,30.0,Non-frequent Customer
57,4553,29.0,30.0,Non-frequent Customer
58,4845,12.0,20.0,Regular customer
59,6866,NaN,30.0,Non-frequent Customer
60,7275,4.0,12.0,Regular customer
61,7669,5.0,5.0,Frequent Customer
62,7669,5.0,5.0,Frequent Customer
63,7669,13.0,5.0,Frequent Customer
64,7981,10.0,6.0,Frequent Customer
65,7981,6.0,6.0,Frequent Customer
66,7981,9.0,6.0,Frequent Customer
67,7981,6.0,6.0,Frequent Customer
68,7981,8.0,6.0,Frequent Customer
69,8703,1.0,1.0,Frequent Customer
70,8723,7.0,6.0,Frequent Customer
71,8735,21.0,27.0,Non-frequent Customer
72,9293,30.0,30.0,Non-frequent Customer
73,9293,30.0,30.0,Non-frequent Customer
74,9467,NaN,30.0,Non-frequent Customer
75,9694,30.0,10.0,Frequent Customer
76,9694,8.0,10.0,Frequent Customer
77,9694,7.0,10.0,Frequent Customer
78,9694,14.0,10.0,Frequent Customer
79,9694,28.0,10.0,Frequent Customer

***

#09 **Task 9** - Export file

***

In [30]:
#exporting the df as a pickle file
ords_prods_merge.to_pickle(os.path.join(path,'02_Data','02_Prepared_Data','20230611_orders_products_merged.pkl'))